<% provide(:title, "log in") %>
<div id="sessions_new" class="sessions">
  <div class="center">
    <h5>Sign in to driftMaps</h5>
    <p>plot your journey</p>
  </div>

  <%= form_for :session, html: {class: 'small-form'}, url: login_path do |f| %>
    <div class="form-group" style="margin-top: 30px;">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %> <span style="float:right">forgot password?</span>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-check">
      <label class="form-check-label" style="padding-left: 0">
        <input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me">
        keep me signed in
      </label>
    </div>

    <%= f.submit 'sign in', class: 'btn blue center' %>
  <% end %>

  <div class="first-timer">
    <p>
      First time here?
      <a href="/signup">
        sign up
      </a>
    </p>
  </div>
</div>