<% provide(:title, "sign in") %>
<div id="users_new" class="users">
  <div class="center">
    <h5>Sign up for driftMaps</h5>
    <p>plot your journey</p>
  </div>
  <%= form_for @user, html: { class: 'small-form' } do |f| %>
    <span class="pull-right maroon">* required</span><div class="clear-fix"></div>

    <!-- First Name -->
    <div class="form-group" style="margin-top: 30px;">
      <%= f.label :first_name %><span class="maroon">*</span>
      <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <%= f.label :last_name %><span class="maroon">*</span>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <!-- Email -->
    <div class="form-group">
      <%= f.label :email %><span class="maroon">*</span>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <!-- Password -->
    <div class="form-group">
      <%= f.label :password %><span class="maroon">*</span>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <!-- Password -->
    <div class="form-group">
      <%= f.label :password_confirmation %><span class="maroon">*</span>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <!-- Profile Picture -->
    <div class="form-group">
      <%= f.label 'Profile Picture' %><span class="maroon">*</span>
      <%= f.file_field :profile_pic, class: 'btn', accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
    </div>

    <%= f.submit 'sign up', class: 'btn blue center' %>
  <% end %>

  <div class="first-timer">
    <p>
      Already have an account?
      <a href="/login">
        sign in
      </a>
    </p>
  </div>
</div>