<!DOCTYPE html>
<html>
  <head>
    <title>driftMaps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="logged_in" value="<%= logged_in? %>"></div>
    <div id="navbar-container">
      <%= javascript_pack_tag 'navbar' %>
    </div>

    <div class="yield-container">
      <%= yield %>
    </div>
  </body>
</html>
