<!DOCTYPE html>
<html>
  <head>
    <title>driftMaps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <div class="flash-messages alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p><%= msg %></p>
      </div>
    <% end %>

    <script type="text/javascript" charset="utf-8">
      $(function(){
        setTimeout(function(){
          $('.flash-messages').remove();
        }, 5000);
      });
    </script>

  <% end %>


  <div id="navbar-container">
      <%= javascript_pack_tag 'navbar' %>
    </div>

    <div class="yield-container">
      <%= yield %>
    </div>
  </body>
</html>
